.DS_Store
hyperstore-api/.phpunit.cache
hyperstore-api/composer.lock
hyperstore-api/frankenphp
hyperstore-api/node_modules
hyperstore-api/public/build
hyperstore-api/public/hot
hyperstore-api/public/storage
hyperstore-api/storage/*.key
hyperstore-api/vendor
hyperstore-api/.env
hyperstore-api/.phpunit.result.cache
hyperstore-api/telescope/db.sqlite
terraform/.terraform
terraform/client/terraform*
terraform/client/eu/.terraform*
terraform/client/eu/terraform*
terraform/server/terraform*
terraform/session-manager-plugin*
terraform/server/global/.terraform*
terraform/server/global/terraform*
terraform/server/eu-central-1/keys/cloudflare-hyperstore-private.pem
terraform/server/eu-central-1/.terraform*
terraform/server/eu-central-1/terraform*
terraform/server/us-east-1/.terraform*
terraform/server/us-east-1/terraform*
terraform/server/sa-east-1/.terraform*
terraform/server/sa-east-1/terraform*
