.DS_Store
hyperstore-api/.phpunit.cache
hyperstore-api/node_modules
hyperstore-api/public/build
hyperstore-api/public/hot
hyperstore-api/public/storage
hyperstore-api/storage/*.key
hyperstore-api/vendor
hyperstore-api/.env
hyperstore-api/.phpunit.result.cache
terraform/.terraform*
terraform/terraform*
terraform/session-manager-plugin*
terraform/global/.terraform*
terraform/global/terraform*
terraform/eu-central-1/.terraform*
terraform/eu-central-1/terraform*
terraform/eu-central-1/bastion*.pem
terraform/us-east-1/.terraform*
terraform/us-east-1/terraform*
terraform/sa-east-1/.terraform*
terraform/sa-east-1/terraform*
